body {
    background-image: url(/FOODZILLAusuário.png);
}

#div-dados {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 30%;
    transform: translate(50%);
    margin: 10px;
    width: max-content;
    background-color: rgba(217, 217, 217, 0.726);
    border-radius: 16px;
}

#div-forms {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
}

div {
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
}

header {
    margin-bottom: 20vh;
}

.input-submit {
    width: 100%;
}