header{
  background-color: #b22020;
  display: flex;
  flex-direction: column;
  list-style: circle;
  height: 15vh;
}
body{
  overflow-x: hidden;
}
input{
  border-radius: 16px;
  margin: 5px;
  padding: 5px;
}
.input-submit{
  background-color: #000;
  border-color: #000;
  color: #fff;
  border-radius: 16px;
  border-width: 1px;
}
.img-menu{
  min-width: 100px;
  max-height: 100px;
}
.img-editProfile{
  width: 200px;
    height: 200px;
}
.img-logo{
  min-width: 100px;
  max-height: 120px;
  
}
.img-profile{
  min-width: 50px;
  max-height: 50px;
}
.img-cart{
  min-width: 50px;
  max-height: 50px;
}
.img-search{
  max-width: 50px;
  max-height: 50px;
  padding: 5px;
}
.div-interact{
  position: absolute;
  right: 2vw;
  top: 2vh;
  gap: 5vw;
  display: flex;
  align-items: center;
}
.div-logo{
  margin: auto;
  text-align: left;
}
*{
margin: 0;
padding: 0;
}
main{
  padding: 20px;
  margin: 5px;
}
a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  opacity: 0.7;
}
.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #b22020;
  height: 8vh;
}
.nav-list {
  list-style: none;
  display: flex;
}
.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}
.menu {
  display: none;
  cursor: pointer;
}
.menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}
@media (min-width: 1px) {
  .nav-list {
    position: absolute;
    top: 15vh;
    left: 0;
    width: 30vw;
    height: 85vh;
    background: #000000;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .menu {
    display: block;
  }
}
.nav-list.active {
  transform: translateX(0);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}
.menu.active .line2 {
  opacity: 0;
}
.menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
.container{
  background-color: #b22020;
}
.container-wrapper{
  position: absolute;
  text-align: center;
  display: none;
  align-self: center;
}
.input-wrapper{
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: #000000;
  border-radius: 16px;
}
.input-wrapper i{
  color: #fff;
  cursor: pointer;
}
.input-wrapper input{
  background: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
}
.input-wrapper input:focus-visible {
  outline: none;
}
div{
  display: flex;
  flex-direction: row;
  gap: 10px;
}