header {
  background-color: #b22020;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 15vh;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

body {
  overflow-x: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  font-family: Creepster;
}

main {
  width: 100%;
  margin-top: 15vh;
}

input {
  border-radius: 16px;
  padding: 5px;
}

.input-submit {
  background-color: #000;
  border-color: #000;
  color: #fff;
  border-radius: 16px;
  border-width: 1px;
}

.img-menu {
  min-width: 100px;
  max-height: 100px;
}

.img-editProfile {
  width: 200px;
  height: 200px;
}

.img-profile {
  min-width: 35px;
  max-height: 35px;
  cursor: pointer;
}

.img-cart {
  min-width: 35px;
  max-height: 35px;
  cursor: pointer;
}

.img-search {
  max-width: 35px;
  max-height: 35px;
  cursor: pointer;
}

@media (max-width: 450px) {
  .img-menu {
    min-width: 100px;
    max-height: 100px;
  }

  .img-logo {
    width: auto;
    max-height: 72px;
  }

  .img-profile {
    min-width: 20px;
    max-height: 20px;
    cursor: pointer;
  }

  .img-cart {
    min-width: 20px;
    max-height: 20px;
    cursor: pointer;
  }

  .img-search {
    max-width: 20px;
    max-height: 20px;
    cursor: pointer;
  }
}

.div-interact {
  right: 2vw;
  top: 2vh;
  gap: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.div-logo {
  text-align: left;
  margin-left: 20px;
}

.div-menu {
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;
  font-size: 16px;
  font-weight: 600;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.nav-header {
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #b22020;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.menu {
  display: none;
  cursor: pointer;
}

.menu div {
  width: 32px;
  height: 2px;
  background: #000000;
  margin: 8px;
  transition: 0.3s;
}

@media (min-width: 1px) {
  .nav-list {
    position: absolute;
    top: 15vh;
    left: 0;
    width: 40vw;
    height: 85vh;
    background: #000000c5;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
    z-index: 2;
    text-align: center;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.menu.active .line2 {
  opacity: 0;
}

.menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.container {
  background-color: #b22020;
}

.container-wrapper {
  position: absolute;
  text-align: center;
  display: none;
  align-self: center;
}

.input-wrapper {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: #000000;
  border-radius: 16px;
}

.input-wrapper i {
  color: #fff;
  cursor: pointer;
}

.input-wrapper input {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
}

.input-wrapper input:focus-visible {
  outline: none;
}

.img-logo {
  height: 100px;
  width: auto;
  cursor: pointer;
}

@media (max-width: 450px) {
  .img-logo {
    width: auto;
    height: 84px;
  }

  .img-profile {
    min-width: 40px;
    max-height: 40px;
  }

  .img-cart {
    min-width: 40px;
    max-height: 40px;
    ;
  }

  .img-search {
    max-width: 40px;
    max-height: 40px;
  }

  .menu div {
    margin: 5px;
  }
}

@media (max-width: 380px) {
  .nav-list {
    top: 10vh;
    height: 100vh;
  }

  header {
    height: 10vh;
  }

  .img-logo {
    width: auto;
    height: 60px;
  }

  .img-profile {
    min-width: 30px;
    max-height: 30px;
  }

  .img-cart {
    min-width: 30px;
    max-height: 30px;
  }

  .img-search {
    max-width: 30px;
    max-height: 30px;
  }
}

@media (max-width: 320px) {
  .img-search {
    width: 20px;
    height: 20px;
  }

  .img-profile {
    min-width: 20px;
    max-height: 20px;
  }

  .img-cart {
    min-width: 20px;
    max-height: 20px;
  }
}