header {
  background-color: #b22020;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 110px;
  width: 100%;
  justify-content: space-between;
}

body {
  overflow-x: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  font-family: Creepster;
}

main {
  width: 100%;
}

input {
  border-radius: 16px;
}

.input-submit {
  background-color: #000;
  border-color: #000;
  color: #fff;
  border-radius: 16px;
  border-width: 1px;
}

.div-interact {
  gap: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 3px;
}

.div-logo {
  text-align: left;
  margin-left: 20px;
}

.div-menu {
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.nav-header {
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #b22020;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.menu {
  display: none;
  cursor: pointer;
}

.menu div {
  width: 32px;
  height: 2px;
  background: #000000;
  margin: 8px;
  transition: 0.3s;
}

@media (min-width: 1px) {
  .nav-list {
    position: absolute;
    top: 15vh;
    left: 0;
    width: 30vw;
    height: 85vh;
    background: #574949;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.menu.active .line2 {
  opacity: 0;
}

.menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.container {
  background-color: #b22020;
}

.container-wrapper {
  position: absolute;
  text-align: center;
  display: none;
  align-self: center;
}

.input-wrapper {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: #000000;
  border-radius: 16px;
}

.input-wrapper i {
  color: #fff;
  cursor: pointer;
}

.input-wrapper input {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
}

.input-wrapper input:focus-visible {
  outline: none;
}
.img-logo{
  max-height: 100%;
  max-width: 100%;
  width: 200px;
}
.img-menu {
  width: 100px;
  height: 100px;
}

.img-profile {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.img-cart {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.img-search {
  max-width: 50px;
  max-height: 50px;
  cursor: pointer;
}
@media (max-width: 310px) {
  .nav-list {
    top: 7vh;
    height: 93vh;
  }

  header {
    height: 7vh;
  }
  .img-logo {
    width: 70px;
    height: 100%;
  }

  .img-profile {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .img-cart {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .img-search {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}
@media (min-width: 311px) and (max-width: 390px) {
  .img-logo {
    width: 90px;
    height: 100%;
  }

  .img-profile {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .img-cart {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .img-search {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}
@media (min-width: 391px) and (max-width: 410px) {
  .img-profile {
    width: 35px;
    height: 35px;
    cursor: pointer;
  }

  .img-cart {
    width: 35px;
    height: 35px;
    cursor: pointer;
  }

  .img-search {
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
  .img-logo{
    width: 120px;
    height: 100%;
  }
}
@media (min-width: 311px) and (max-width: 570px) {
  .nav-list {
    top: 10vh;
    height: 90vh;
  }

  header {
    height: 10vh;
  }

  @media (min-width: 411px) {
    .img-cart {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
  
    .img-profile {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
  
    .img-search {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
    .img-logo {
      width: 160px;
      height: 100%;
    }
  }

  .menu div {
    margin: 5px;
  }
}
