#div-products li {
    background-color: #B22020;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 25px;
    margin: 5px;
}

.li-divs {
    width: 100%;
    padding: 8px;
    justify-content: space-between;
}

#div-products {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}

.img-li {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 16px;
}

.div-element {
    text-align: left;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}


input[type="number"]::-o-inner-spin-button,
input[type="number"]::-o-outer-spin-button {
    -o-appearance: textfield;
}

main ul {
    text-align: center;
    display: flex;
    position: relative;
    flex-direction: row;
    width: 80%;
    transition: transform 1s ease-out;
    padding: 10px;
    align-self: center;
}

@media (max-width: 674px) {
    .img-li {
        width: 80px;
        height: 80px;
        object-fit: cover;
    }

    h2 {
        font-size: x-large;
    }

    h3 {
        font-size: large;
    }
}

@media (max-width: 500px) {
    h2 {
        font-size: large;
    }

    h3 {
        font-size: medium;
    }
}

@media (max-width: 400px) {
    h2 {
        font-size: 15px;
    }

    h3 {
        font-size: 13px;
    }
}

@media (max-width: 320px) {
    .number-input {
        padding: 0;
        max-width: 20%;
    }
}

body {
    background-color: #1A1919;
}

main {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
}

.input-submit {
    cursor: pointer;
}

li div {
    display: flex;
    flex-direction: column;
}

.li-divs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 8px;
}

.number-input-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.number-input {
    width: 40px;
    padding: 5px;
    text-align: center;
}

.increment,
.decrement {
    width: 20px;
    cursor: pointer;
    text-align: center;
}

#div-summary {
    background-color: #B22020;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

input[type="submit"] {
    border-radius: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    font-size: 20px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    cursor: pointer;
}