body {
    background-image: url(/FOODZILLAusuário.png);
    background-size: cover;
}

.div-dados {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
}

#div-dados {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 30%;
    transform: translate(50%);
    margin: 10px;
    width: max-content;
    background-color: rgba(217, 217, 217, 0.726);
    border-radius: 16px;
}

#div-divs {
    display: flex;
    flex-direction: column;
}

div {
    display: flex;
    flex-direction: row;
}

header {
    margin-bottom: 20vh;
}

#a-signup {
    color: #b22020;
    font-size: 30px;
}

.input-submit {
    width: 100%;
}
input{
    padding: 8px;
}
.img-editProfile{
    width: 200px;
    height: 200px;
}
@media(max-width: 760px) {
    .img-editProfile{
        width: 150px;
        height: 150px;
    }
}
@media (max-width: 670px) {

}