body {

    background-image: url(/FOODZILLAusuário.png);
}

.div-dados {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
}

#div-dados {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin: 10px;
    width: max-content;
    background-color: rgba(217, 217, 217, 0.712);
    border-radius: 16px;
}

#div-divs {
    display: flex;
    flex-direction: column;
}

div {
    display: flex;
    flex-direction: row;
}

header {
    margin-bottom: 20vh;
}

#a-signup{
    color: #B22020;
    
}

.input-submit {
    width: 100%;
}