body{
    background-image: url(https://as1.ftcdn.net/v2/jpg/04/30/67/32/1000_F_430673277_Tvc3MrWAr5K42LfiIK5wk8fSeDC5h3B0.jpg);
}
form{
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
}
#div-dados{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin: 10px;
    width: max-content;
    background-color: rgba(255, 255, 255, 0.712);
    border-radius: 16px;
}
#div-forms{
    display: flex;
    flex-direction: column;
}
div{
    display: flex;
    flex-direction: row;
}
header{
    margin-bottom: 20vh;
}
#a-signup{
    color: #b22020;
    font-weight: 700;
}