#div-orders li {
  background-color: #B22020;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 25px;
  margin: 5px;
}
.li-divs {
  width: 100%;
  padding: 8px;
  justify-content: space-between;
}

#div-products {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 15vh;
}

.img-li {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 16px;
}
