body {
    background-color: black;
}

main {
    display: flex;
    text-align: center;
    justify-content: center;
}

.div-forms {
    display: flex;
    flex-direction: row;
    margin: 10px;
    border-radius: 10px;
}

#div-dados {
    display: flex;
    flex-direction: row;
    margin: 10px;
    width: max-content;
    background-color: rgba(217, 217, 217, 0.726);
    border-radius: 16px;
}

@media (max-width: 1000px) {
    .img-editProfile {
        max-width: 140px;
        max-height: 140px;
    }
}

@media (max-width: 800px) {
    .img-editProfile {
        max-width: 130px;
        max-height: 130px;
    }
}

@media (max-width: 670px) {
    .img-editProfile {
        max-width: 120px;
        max-height: 120px;
    }
}

@media (max-width: 600px) {
    .img-editProfile {
        max-width: 110px;
        max-height: 110px;
    }

    input {
        max-width: 100px;
        padding: 5px;
        margin: 5px;
    }
}

@media (max-width: 410px) {
    .img-editProfile {
        max-width: 100px;
        max-height: 100px;
    }

    input {
        max-width: 100px;
        padding: 5px;
        margin: 5px;
    }
}

@media (max-width: 360px) {
    .img-editProfile {
        max-width: 80px;
        max-height: 80px;
    }

    input {
        max-width: 80px;
        padding: 3px;
        margin: 3px;
    }
}

#div-forms {
    display: flex;
    flex-direction: column;
}

div {
    display: flex;
    flex-direction: row;
}

header {
    margin-bottom: 20vh;
}

input {
    padding: 5px;
    margin: 5px;
}