body {
  background-image: url(/FOODZILLAadmin.png);
  background-size: cover;
  max-height: 100%;
}

.div-dados {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 10px;
}

#div-dados {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 30%;
  transform: translate(50%);
  margin: 10px;
  width: max-content;
  background-color: rgba(247, 247, 247, 0.726);
  border-radius: 16px;
}

#div-divs {
  display: flex;
  flex-direction: column;
}

div {
  display: flex;
  flex-direction: row;
}

header {
  margin-bottom: 20vh;
}

#a-signup {
  color: #b22020;
  font-size: 30px;
}

.input-submit {
  width: 100%;
}