body{
  background-color: #1A1919;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 24px;
  

}
#div-divs{
  text-align: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  background-color: #fff;
  gap: 5px;
  padding: 5px;
  border-radius: 16px;
}
.div-input{
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 24px;
}
#div-container{
  text-align: center;
  display: flex;
  flex-direction: column;
}
input{
  background-color: #000000;
  color: #fff;
}
.profile-img{
  display: flex;
  align-items: center;
  justify-content: center;
 
  
}
img-editprofile{
  min-width:100;
  max-width: 88;

}


