body{
  background-color: #1A1919;
}
#div-divs{
  text-align: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  background-color: #fff;
  gap: 5px;
  padding: 5px;
  border-radius: 16px;
}
.div-input{
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 24px;
}
input{
  background-color: #000000;
  color: #fff;
}