main li {
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 10px;
    width: fit-content;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

main ul {
    text-align: center;
    align-items: center;
}

main {
    background-color: #b9b9b9;
    margin: 0 auto;
    width: min-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    top: 15vh;
    height: 85vh;
}

main h1 {
    text-align: center;
}

#div-divs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#div-products {
    text-align: center;
    border-width: 10px;
    border-color: black;
    border: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

img {
    height: 84vh;
}