main li {
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 10px;
    width: fit-content;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

main ul {
    text-align: center;
    align-items: center;
}

main {
    background-image: url(/godirado.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: min-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    top: 85vh;
    height: 100%;
}

#div-divs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

#div-products {
    text-align: center;
    border-width: 10px;
    border-color: black;
    border: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #ccc5c58a;
    border-radius: 16px;
    height: min-content;
    width: 70%;
    text-align: center;
    align-self: center;
    margin: 15px;
    justify-content: center;
}

#div-summary {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    background-color: #ccc5c58a;
    border-radius: 16px;
    height: min-content;
    margin: 15px;
    width: 70%;
    align-self: center;
}