body{
    text-align: center;
    background-image: url(/FOODZILLAusuário.png);
}
#div-edit{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin: 10px;
    padding: 20px;
    width: max-content;
    background-color: white;
    border-radius: 16px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px 2px black;
}
label{
    font-weight: 700;
    display: block;
    padding-left: 2px;
    padding-bottom: 2px;
    font-family: Arial,sans-serif;
}
div{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
main{
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
}
header{
    margin-bottom: 20vh;
}