#div-products li{
    background-color: #B22020;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 50%;
}
.img-li{
    max-width: 100%;
}
main ul{
    max-width: 240px;
    min-width: 240px;
    text-align: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
body{   
    background-color: #1A1919;
}
main{
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
}