#div-products li {
    background-color: #B22020;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 50%;
    justify-content: space-evenly;
}

#div-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: space-around;
    gap: 10px;
    text-align: center;
}

.img-li {
    width: 90%;
    height: 90%;
    object-fit: fill;
    border-radius: 30px;
    padding: 1px;
    align-self: center;
}

main ul {
    text-align: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: transform 1s ease-out;
    border-radius: 16px;

}

@media (min-width: 675px) and (max-width: 794px) {
    main ul {
        width: 25vw;
    }
}

@media (max-width: 674px) {
    main ul {
        width: 40vw;
    }
}

@media (min-width: 795px) {
    main ul {
        min-width: 240px;
        max-width: 240px;
    }
}

body {
    background-color: #1A1919;
}

main {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
}

.input-submit {
    cursor: pointer;
    width: 90%;
    align-self: center;
    padding: 5px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li div {
    display: flex;
    flex-direction: column;
}